body {
    background-color: rgb(121, 131, 103);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header {
    padding: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
    color: black;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin: 0 30px;
}

header img#profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: 30px auto;
}

header h1 {
    font-size: 68px;
    margin: 10px 0;
}

main {
    width: 75%;
    margin: 20px auto;
    padding: 0 10px;
    background-color: beige;
    border-radius: 75px;
}

main section {
    margin-bottom: 40px;
}

main section h2 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

main section p {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.project-sample {
    margin: 20px 0;
    text-align: center;
}

.project-sample img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 75px;
    
}

.project-sample h3 {
    font-size: 24px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    main {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    header h1 {
        font-size: 50px;
    }

    main {
        width: 100%;
        padding: 0;
    }

    main section h2 {
        font-size: 38px;
    }

    .project-sample img {
        max-width: 100%;
    }
}
